datasets==3.1.0
huggingface-hub==0.26.2
pandas==2.2.3
torch==2.5.1
transformers==4.46.2
protobuf==3.20.0
sentencepiece
accelerate>=0.26.0
optimum[gptq]
bitsandbytes>=0.41.1
scipy
scikit-learn
peft
trl
vllm
sglang
wandb
autoawq>=0.1.8